<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ZakupFizickogServlet</servlet-name>
        <servlet-class>servlets.ZakupFizickogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavaServelet</servlet-name>
        <servlet-class>servlets.PrijavaServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kupi</servlet-name>
        <servlet-class>servlets.Kupi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZakupVirtuelnogServlet</servlet-name>
        <servlet-class>servlets.ZakupVirtuelnogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpisakZakupa</servlet-name>
        <servlet-class>servlets.SpisakZakupa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetaljnijeServlet</servlet-name>
        <servlet-class>servlets.DetaljnijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniServlet</servlet-name>
        <servlet-class>servlets.IzmeniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortirajServlet</servlet-name>
        <servlet-class>servlets.SortirajServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ZakupFizickogServlet</servlet-name>
        <url-pattern>/ZakupFizickogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaServelet</servlet-name>
        <url-pattern>/PrijavaServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kupi</servlet-name>
        <url-pattern>/Kupi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZakupVirtuelnogServlet</servlet-name>
        <url-pattern>/ZakupVirtuelnogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpisakZakupa</servlet-name>
        <url-pattern>/SpisakZakupa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetaljnijeServlet</servlet-name>
        <url-pattern>/DetaljnijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniServlet</servlet-name>
        <url-pattern>/IzmeniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortirajServlet</servlet-name>
        <url-pattern>/SortirajServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
